/* Contenedores */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.container-fluid {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}

.container-lg {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

/* Tamaño de contenedor mediano */
.container-md {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* Tamaño de contenedor pequeño */
.container-sm {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
