
  /* Margin */
  .m-1 {
      margin: var(--m-1) !important;
  }
  .m-2 {
      margin: var(--m-2) !important;
  }
  .m-3 {
      margin: var(--m-3) !important;
  }
  .m-4 {
      margin: var(--m-4) !important;
  }
  .m-5 {
      margin: var(--m-5) !important;
  }
  
  /* Margin Top */
  .mt-1 {
      margin-top: var(--m-1) !important;
  }
  .mt-2 {
      margin-top: var(--m-2) !important;
  }
  .mt-3 {
      margin-top: var(--m-3) !important;
  }
  .mt-4 {
      margin-top: var(--m-4) !important;
  }
  .mt-5 {
      margin-top: var(--m-5) !important;
  }
  
  /* Margen Bottom */
  .mb-1 {
      margin-bottom: var(--m-1) !important;
  }
  .mb-2 {
      margin-bottom: var(--m-2) !important;
  }
  .mb-3 {
      margin-bottom: var(--m-3) !important;
  }
  .mb-4 {
      margin-bottom: var(--m-4) !important;
  }
  .mb-5 {
      margin-bottom: var(--m-5) !important;
  }
  
  /* Margen Izquierdo */
  .ml-1 {
      margin-left: var(--m-1) !important;
  }
  .ml-2 {
      margin-left: var(--m-2) !important;
  }
  .ml-3 {
      margin-left: var(--m-3) !important;
  }
  .ml-4 {
      margin-left: var(--m-4) !important;
  }
  .ml-5 {
      margin-left: var(--m-5) !important;
  }
  
  /* Margen Derecho */
  .mr-1 {
      margin-right: var(--m-1) !important;
  }
  .mr-2 {
      margin-right: var(--m-2) !important;
  }
  .mr-3 {
      margin-right: var(--m-3) !important;
  }
  .mr-4 {
      margin-right: var(--m-4) !important;
  }
  .mr-5 {
      margin-right: var(--m-5) !important;
  }
  
  /* Margen Horizontal */
  .mx-1 {
      margin-left: var(--m-1) !important;
      margin-right: var(--m-1) !important;
  }
  .mx-2 {
      margin-left: var(--m-2) !important;
      margin-right: var(--m-2) !important;
  }
  .mx-3 {
      margin-left: var(--m-3) !important;
      margin-right: var(--m-3) !important;
  }
  .mx-4 {
      margin-left: var(--m-4) !important;
      margin-right: var(--m-4) !important;
  }
  .mx-5 {
      margin-left: var(--m-5) !important;
      margin-right: var(--m-5) !important;
  }
  
  /* Margen Vertical */
  .my-1 {
      margin-top: var(--m-1) !important;
      margin-bottom: var(--m-1) !important;
  }
  .my-2 {
      margin-top: var(--m-2) !important;
      margin-bottom: var(--m-2) !important;
  }
  .my-3 {
      margin-top: var(--m-3) !important;
      margin-bottom: var(--m-3) !important;
  }
  .my-4 {
      margin-top: var(--m-4) !important;
      margin-bottom: var(--m-4) !important;
  }
  .my-5 {
      margin-top: var(--m-5) !important;
      margin-bottom: var(--m-5) !important;
  }
  
  .m-auto {
      margin: auto !important;
  }
  