:root {
    --box-shadow-1: 0 4px 6px rgba(0, 0, 0, 0.197); /* Sombra ligera */
    --box-shadow-2: 0 8px 12px rgba(0, 0, 0, 0.23); /* Sombra media */
    --box-shadow-3: 0 12px 18px rgba(0, 0, 0, 0.115); /* Sombra oscura */
  }
  
  /* Clases de sombras */
  .shadow-1 {
    box-shadow: var(--box-shadow-1);
  }
  
  .shadow-2 {
    box-shadow: var(--box-shadow-2);
  }
  
  .shadow-3 {
    box-shadow: var(--box-shadow-3);
  }
  